@use './colores';

@mixin body-pag{
    display: grid;
    grid-template-columns: 20% 80%;
}

@mixin body-cont{
    display: flex;
    width: 80%;
    margin: 20px auto;
    flex-direction: column;
    h1{
        text-align: center;
        border: 3px solid colores.$base-color;
        width: 70%;
        margin: 20px auto;
        padding: 10px;
        //background-color: colores.$color-secund;
        border-radius: 10px;
        color: colores.$base-color;
    }
    button{
        width: 50%;
        display: flex;
        margin: 0 auto;
        background-color: colores.$base-color;
    }
}

@mixin form($display){
    display: grid;
    grid-template-columns: $display;
    padding: 20px;
    .campo{
        width: 80%;
        margin: 0 auto;
    }
}

@mixin colorMenu($color){
    color: $color;
}