<div class="menu">
  <mat-list role="list">
    <img
      src="https://images.vexels.com/media/users/3/129286/isolated/preview/f71f09d3aa7db678ee884a2cdea1a435-simbolo-del-edificio-del-banco.png">
    <mat-list-item>
      <a routerLink="/consignar" class="link">Consignar</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a routerLink="/retirar" class="link">Retirar</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a routerLink="/consultar" class="link">Consultar saldo</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a routerLink="/nuevo" class="link">Nuevo producto</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <button (click)="intereses()" >Calcular intereses</button>
    </mat-list-item>
    <mat-list-item role="listitem">
      <button (click)="cerrar()" >Cerrar sesión</button>
    </mat-list-item>
  </mat-list>
</div>